<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="<%= metaDescription %>">
  <title><%= title %></title>
  <meta property="og:site_name" content="Tone Temple">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:image" content="https://cosmicjs.imgix.net/613fa8f0-6f69-11e6-9ce7-e1578c61af12-TT-2-01.png">
  <meta property="og:url" content="https://tonetemple.com.au">
  <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/public/styles/main.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="/public/scripts/app.js"></script>
  <!-- css overrides -->
  <style>
    .videos-item .videos-item--inner .img-o:before {
        background-image: url('/public/images/play-icon.png');
    }
  </style>
  <script type="text/javascript" src="/public/scripts/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/styles/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/public/styles/slick-theme.css"/>


  <!-- <script src="https://cdn.ravenjs.com/3.8.0/raven.min.js" crossorigin="anonymous"></script>
  <script>
    Raven.config('https://4d00ef3c20164f7285b0953c07195262@sentry.io/115245').install()
    // Picture element HTML5 shiv
    document.createElement( "picture" );
  </script> -->
</head>
<body>

<header>
  <div class="container">
    <% globals.objects.map(prop => { %>
        <% if (prop.title === 'Main Logo') { %>
            <h1 class="logo"><a href="/"><img src="<%= prop.metadata.main_logo_svg.imgix_url %>" alt="Tone Temple"/></a></h1>
        <% }; %>
        <% if (prop.title === 'Facebook url') {
          const strippedTagsContent = prop.content.replace(/(<([^>]+)>)/ig,""); %>
          <div class="facebook-link">
            <a href="<%= strippedTagsContent %>" target="_blank"><img className="image-responsive" src='/public/images/square-facebook-128.png' /></a>
          </div>
        <% } %>
    <% }); %>

    <div id="hamburger" class="">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <% include nav %>
</header>
